body {
  background: radial-gradient(
    circle,
    rgba(27, 27, 27, 0.3) 0%,
    rgba(0, 0, 0, 0.6) 55%
  );
}
.carousel-prev {
  left: -23px !important;
  width: 150px;
  background-image: linear-gradient(to right, #000 30%, #00000016);
}
.carousel-next {
  right: -23px !important;
  width: 150px;
  background-image: linear-gradient(to left, #000 30%, #00000016);
}
.bg-blur {
  backdrop-filter: blur(2px);
  filter: drop-shadow(2px 2px 4px #00000069);
  -webkit-backdrop-filter: blur(4px);
}
.card:hover {
  transform: scale(1.4);
  z-index: 10;
  box-shadow: 0 0 20px 8px black;
  transition: transform 0.3s ease;
}
.prof-btn:hover {
  background-color: #f8f9fa !important;
}
#flexCheckChecked,
#flexCheckDefault {
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.8em;
  height: 1.8em;
  border: 1px solid #fff;
  border-radius: 0;
}
.mat-ras {
  width: fit-content !important;
}
