#containerHome {
  position: relative;
  background-size: cover !important;
  background-position: center;
  background: linear-gradient(to top, #e66465 10%, #9198e5 70%);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(rgba(166, 166, 166, 0.571), rgb(0 0 0 / 65%));
    z-index: 0;
  }
  & > div {
    position: relative;
    z-index: 10;
  }
}
#inYourCountry {
  #infoWeather {
    p {
      padding: 0px 8px;
      border-left: 1px solid;
      &:nth-last-child(1) {
        border-right: 1px solid;
      }
    }
  }
}
#scrollY {
  width: 100%;
  overflow-y: auto;
  padding-bottom: 300px;
  .weatherDaysWrapper {
    overflow: hidden;
    overflow: auto;
    grid-auto-flow: column;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    padding-bottom: 10px;
    .cardWeaterDay {
      width: 120px;
      padding: 10px;
      border-radius: 18px;
      background: rgba(194, 233, 254, 0.063);
      box-shadow: 0 8px 16px -3px rgb(0 2 26 / 50%);
      backdrop-filter: blur(9.5px);
      -webkit-backdrop-filter: blur(9.5px);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        margin: 0;
      }
      img {
        margin: 10px auto;
      }
    }
  }
}
