$positions: (10, 20, 25, 30, 50, 65, 75, 90, 100);

@each $value in $positions {
  // assegno questo calcolo per ottenere un valore in percentuale sul valore, non potendo usare il simbolo % che è un operatore modulo
  $val: $value * 1%;
  .translate-#{$value} {
    translate: 0 $val;
  }
}
@mixin animate(
  $name: fromTop,
  $start,
  $end,
  $duration,
  $delay: 0,
  $timing: ease
) {
  //crea una nome per l'animazione
  $uniqueName: animate-#{$name}-#{unique-id()};
  @keyframes #{$uniqueName} {
    from {
      opacity: 0;
      translate: 0 $start;
    }
    to {
      opacity: 1;
      translate: 0 $end;
    }
  }
  animation-name: $uniqueName;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-timing-function: $timing;
  // animation-fill-mode: both;
}
// .c{
//   animation: name duration timing-function delay iteration-count direction fill-mode;
// }
