* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  border-radius: 3px;
}

// SCSS
$lista-texts: h1, h2, h3, h4, h5, h6, p, button;
$uppercase: uppercase;
$ln-height: 130%;
@each $texts in $lista-texts {
  #{$texts} {
    line-height: $ln-height;
  }
  #{$texts}.#{$uppercase} {
    &:first-letter {
      text-transform: uppercase;
    }
  }
}
