@import "./partials/reset";
@import "./partials/misc";
@import "./partials/animatons";
@import "./partials/colors";
@import "./partials/spacings";
@import "./partials/flex";
@import "./partials/fonts";

h1 {
  @include title-big;
  @include animate(1s, 10px, 0, 300ms);
}
#hero {
  background: $bg_hero;
  @include grid(2);
  div {
    img {
      width: 60%;
      @include floatCard();
      @include animate(1s, -50%, 20%, 500ms);
    }
  }
}
#cards {
  @include grid(4, 1rem);
}
#logo {
  flex-basis: 80px;
  img {
    width: 100%;
  }
}

.card {
  @include floatCard();
  overflow: hidden;
  img {
    width: 100%;
  }
}
