<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./cards.css" />
  </head>
  <body>
    <section id="cards">
      <div id="n1" class="card">
        <img src="../../project/assets/imgs/honey.jpg" alt="honey" />
        <div class="main-text-card">
          <div class="products">
            <h4>100% bio honey</h4>
            <p>italian, not treated</p>
          </div>
          <div class="price">7$/kg</div>
        </div>
        <button>add to cart</button>
      </div>
      <div id="n2" class="card">
        <img src="../../project/assets/imgs/honey.jpg" alt="honey" />
        <div class="main-text-card">
          <div class="products">
            <h4>100% bio honey</h4>
            <p>italian, not treated</p>
          </div>
          <div class="price">7$/kg</div>
        </div>
        <button>add to cart</button>
      </div>
      <div id="n3" class="card">
        <img src="../../project/assets/imgs/honey.jpg" alt="honey" />
        <div class="main-text-card">
          <div class="products">
            <h4>100% bio honey</h4>
            <p>italian, not treated</p>
          </div>
          <div class="price">7$/kg</div>
        </div>
        <button>add to cart</button>
      </div>
      <div id="n4" class="card">
        <img src="../../project/assets/imgs/honey.jpg" alt="honey" />
        <div class="main-text-card">
          <div class="products">
            <h4>100% bio honey</h4>
            <p>italian, not treated</p>
          </div>
          <div class="price">7$/kg</div>
        </div>
        <button>add to cart</button>
      </div>
      <div id="n5" class="card">
        <img src="../../project/assets/imgs/honey.jpg" alt="honey" />
        <div class="main-text-card">
          <div class="products">
            <h4>100% bio honey</h4>
            <p>italian, not treated</p>
          </div>
          <div class="price">7$/kg</div>
        </div>
        <button>add to cart</button>
      </div>
    </section>
  </body>
</html>
