:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* elements */
html,
body {
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(40, 40, 40, 0.8) 0% 20%,
    rgb(5, 5, 5) 95%
  );
  /* overflow-x: hidden; */
}
footer {
  box-shadow: 0 0 45px -5px black;
  background-color: rgb(16, 15, 15);
  position: relative;
  z-index: 100;
}

/* carousell bootstrap*/
#galleryContainer {
  width: 80%;
  justify-content: flex-start;
}
#movieCard {
  padding: 20px;
  height: 9rem;
  overflow: hidden;
  border-radius: 13px;
  background-size: cover;
  background-position: bottom;
  margin: 8px;
  /* width: clamp(12rem, 15rem, 20rem); */
  min-width: 12rem;
  max-width: 20rem;
}
.carousel-prev {
  left: -48px !important;
  width: 150px;
  background-image: linear-gradient(to right, #000 30%, #00000016);
}
.carousel-next {
  right: -12px !important;
  width: 150px;
  background-image: linear-gradient(to left, #000 30%, #00000016);
}
.title-card {
  position: absolute;
  bottom: 10px;
  margin-top: 23%;
  width: 80%;
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}
