<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./article.css" />
  </head>
  <body>
    <article>
      <h2>lastest news</h2>
      <div class="article-content">
        <div class="img-wrapper"></div>
        <div class="text-article">
          <h4>our delicious honey</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste quod,
            ab magnam tempora porro, vitae, earum quo obcaecati sit aliquid
            praesentium nostrum culpa. Laborum officia cum illo amet a ipsa!
            Lorem ipsum dolor sit amet consectetur, adipisicing adipisicing
            elit. Iste quod, ab magnam tempora porro, vitae, consectetur,
            adipisicing elit. Iste quod, ab magnam tempora porro, vitae, earum
            quo obcaecati sit aliquid praesentium Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Iste quod, Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Iste quod, ab magnam tempora porro,
            vitae, earum quo obcaecati sit aliquid praesentium nostrum culpa.
            Laborum officia cum illo amet a ipsa! Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Iste quod, ab magnam tempora porro,
            vitae, earum quo obcaecati sit aliquid praesentium nostrum culpa.
            Laborum officia cum illo amet a ipsa!
          </p>
        </div>
      </div>
    </article>
  </body>
</html>
